.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*~

.zsh_history
.zsh_sessions/
.zcompdump*
.zshrc.zwc
.zprofile.zwc
.zshenv.zwc
#plugings
zsh-autosuggestions/
zsh-syntax-highlighting/

.cache/
.local/share
.local/state/

.fzf-history
.fzf.bash
.fzf.zsh

starship.log
__pycache__/
*.pyc
.venv/
.env/

secrets/

.tmux/plugins/
plugins/
tmux/plugins/
